:root{
	--clr-purple: #d400d4;
	--clr-light-blue: #00ccff;
	--clr-gold: #edd34d;
}

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

header {
	position: fixed;
	top:0;
	z-index: 100;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans Narrow';
	min-height: 100vh;
}

#about-me {
	box-sizing: border-box;
	display: none;
	align-items: center;
	justify-content: space-around;
	padding-top: 1px;
	min-height: 100vh;
	background-image: radial-gradient(rgb(100, 100, 100), rgb(0, 0, 0));

}

#about-me:target{
	display: flex;
}

#about-me-header-container {
	position: relative;
	max-width: 95%;
	font-weight: 900;
	font-size: 35px;
	font-family: "Poppins";
}


.about-me-header {
	margin: 0;
}


.about-me-header:nth-child(1){
	position: absolute;
	color: rgb(230,230,230);
}

.about-me-header:nth-child(2){
	clip-path: circle(36px at 36px 30px);
	position: absolute;
	color: var(--clr-light-blue);
}

.about-me-header:nth-child(3){
	clip-path: circle(100px at 41% 140%);
	color: var(--clr-purple);
	width: max-content;
}

#about-me-text {
	align-self: center;
	padding-top: 1px;
	/*	margin: 0px 500px 0px 100px;*/
	max-width: 50ch;
	font-size: 25px;
	color: rgb(230, 230, 230);

}

#about-me-text p {
	margin-top: 10px;
}

#checkout-skills {
	all: unset;
	position: relative;
	color: white;
	border-radius: 6px;
	display: inline-block;
	cursor: pointer;
	z-index: 10;
}


#checkout-skills span {
	box-sizing: border-box;
	padding: 5px 10px 5px 10px;
	background-image: linear-gradient(60deg, #232446 50%, #121438 50%);
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;

}

#checkout-skills:hover::after,
#checkout-skills:hover::before {
	transform: rotateZ(180deg);
}

#checkout-skills::before {
	content: '';
	position: absolute;
	inset: -3px;
	z-index: -50;
	background-image: linear-gradient(45deg, #00ccff, #232446, #121438 , #d400d4);
	filter: blur(10px);
	transition: 0.2s;
}

#checkout-skills::after {
	content: '';
	position: absolute;
	inset: -3px;
	z-index: -50;
	background-image: linear-gradient(45deg, #00ccff, #232446, #121438 , #d400d4);
	transition: 0.2s;
}


#image-container {
	position: relative;
	align-self: center;
	width: 400px;
	height: 263px;
}

#image-container > canvas {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#image-container > img {
	width: 100%;
}

#projects-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	font-size: 23px;
	grid-gap: 40px;
	padding-bottom: 40px;
	justify-content: center;

}

#projects {

	display: none;
	background-image: radial-gradient(rgb(100, 100, 100), rgb(0, 0, 0));
	padding-top: 50px;
	padding-bottom: 20px;
	/*	background-color: #1a1e22;*/
}

#projects:target {
	display: block;
}

#projects-header {
	text-align: center;
	margin: 40px 0px 40px 0;
}

#projects-header > img {
	width: 400px;
	max-width: 95%;
}

app-project {
	justify-self: center;
	max-width: 90vw;
}

#link-to-contact{
	text-decoration: none;
	color:black;
	background-color: ghostwhite;
	padding: 10px 20px;
	display: inline-block;
	margin-left: 50%;
	transform: translateX(-50%);
	border-radius: 6px;
	border: 6px solid deepskyblue;

}

#link-to-contact:hover{
	box-shadow: 0 0 20px 0 deepskyblue;
}


#contact-me {
	box-sizing: border-box;
	position: relative;
	padding-top: 1px;
	min-height: 100vh;
	background-image: radial-gradient(rgb(100, 100, 100), rgb(0, 0, 0));
	display: none;
	overflow: hidden;
}

#contact-me:target {
	display: block;
}

#contact-me>img:nth-child(1){
	position: absolute;
	top:50px;
	right: -50px;
}

#contact-me>img:nth-child(2){
	position: absolute;
	bottom:-16px;
	right: -50px;
}

#contact-me .text {
	position: relative;
	top: 20vh;
	left: 120px;
	width: max-content;
	max-width: 95%;
	font-weight: 900;
	font-size: 35px;
	font-family: "Poppins";
	color: var(--clr-gold);

}

#contact-me h1 {
	text-transform: capitalize;
}

#contact-me a {
	font-weight: 400;
}

.details div {
	display: flex;
	align-items: center;
}

.details a {
	position: relative;
	color: var(--clr-gold);
	display: block;
}

.details img {
	width: 30px;
	height: 30px;
	margin-right: 20px;
}


@media(max-width: 1000px) {

	#about-me:target {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#about-me-header-container {
		width: max-content;
		margin: 100px auto 0 auto;
	}

	#about-me p {
		margin: 10px auto 20px auto;
		text-align: center;
		max-width: 80%;
	}

	#checkout-skills {
		display: block;
		width: max-content;
		margin: 10px auto;
	}

	#image-container {
		display: none;

	}

	#contact-me > img {
		display: none;
	}

	#contact-me:target {
		display: grid;
		grid-template-columns: 1fr;
		place-items: center;
	}

	#contact-me .text {
		width: max-content;
		position: static;
	}

	#contact-me h1 {
		text-align: center;
		border-top: 3px solid var(--clr-gold);
		border-bottom: 3px solid var(--clr-gold);
	}


	#contact-me>h2{
		font-size: 50px;
		
	}

	#contact-me-text{
		font-size: 25px;
		
	}

}

@media(max-width: 450px) {
	#checkout-skills {
		display: block;
		width: auto;
		margin: 50px 3px;
	}


	#contact-me .text {
		font-size: 25px;;
	}

	#contact-me a {
		margin-bottom: 10px;
	}


}
